.input-container {
    display: flex;
    flex-direction: column;
}
/* styles.css */
.pagination {
    margin-top: 10px;
    text-align: center;
}

#prevBtn,
#nextBtn {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #005f7f;
}

